name: Spellcheck Action
on: push

jobs:
  build:
    name: Spellcheck
    runs-on: ubuntu-latest
    steps:
    # The checkout step
    - uses: actions/checkout@v3
    - uses: rojopolis/spellcheck-github-actions@v0
      name: Spellcheck

    - name: Create PR
      if: ${{ success() }}
      uses: actions/github-script@v6  
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}  
        script: |
          const { owner, repo } = context.repo;
          const head = `refs/heads/${{ github.ref }}`;
          const base = 'main';
            
          github.rest.pulls.create({
            owner, repo, head, base,   
            title: 'Spellcheck Fixes',
            body: 'Fixes from spellcheck workflow'
          });